<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div id="app">

		<header>
			<ul v-for="an in animals">
				<button v-on:click="an.show=!an.show">{{ an.family }}</button>
				<li v-if="an.show" v-for="c in an.cont"><a v-bind:href="c.href">{{ c.name}}</a></li>
			</ul>
		</header>

	</div>
	<div id="app_2">
		<button v-on:click="status=!status" v-bind:class="{ red : status}">Click me</button>
	</div>
	


	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/script.js"></script>
	<script src="js/script_2.js"></script>
</body>
</html>
